.box-to{
    margin: 0 auto;
    display: grid; 
    grid-gap: 20px; 
    grid-template-columns: 40% auto;
    a{
        text-decoration: none;
    }
    img{
        width: 100%;
    }
    .box-nho{
        margin: 0 auto;
        display: grid; 
        grid-gap: 20px; 
        grid-template-columns: 50% auto;
        .bg{
            background: #F2F4F5;
            border-radius: 12px;
            padding: 10px 17px;
            span{
                background: #0F62F9;
                border-radius: 12px;
                font-size: 12px;
                line-height: 16px;
                align-items: center;
                text-align: center;
                color: #FFFFFF;
                align-items: center;
                padding: 0px 8px;
            }
            p{
                font-size: 12px;
                line-height: 18px;
                color: #8E9AAB;
                margin: 0;
                margin-top: 5px;
                samp{
                    color: #5DAC46;
                }
            }
        }
        .a1{
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            color: #5DAC46;
            margin-right: 5px;
        }
        .a2{
            font-size: 17px;
            line-height: 22px;
            text-decoration-line: line-through;
            color: #8E9AAB;
            margin-right: 10px;
        }
        .li3 li{
            font-size: 15px;
            line-height: 24px;
            color: #112950;
            
        }
        .li3 ul{
            padding-left: 1rem;
        }
        .tuy-chon{
            font-size: 12px;
            line-height: 18px;
            color: #5E6F88;
            samp{
                background: #EBF5EF;
                border: 1px solid #B2BAC6;
                box-sizing: border-box;
                border-radius: 20px;
                color: #112950;
                align-items: flex-start;
                padding: 8px 28px;
                margin-right: 5px;
            }
            .tc-color{
                border: 1px solid #5DAC46;
                color: #5DAC46;
                padding: 8px 18px;
            }
        }
        .xem-thuoc{
            margin: 20px 0;
            text-decoration: underline;
            a{
                margin-right: 5px;
            }
            div{
                width: 98px;
                margin-top: 20px;
                border: 1px solid #E5E5E5; 
                box-sizing: border-box; 
                border-radius: 4px; 
            }
            svg{
                transform: rotate(-90deg);
            }
            input[type=button]{
                width: 32px; 
                height: 32px;
                border: none; 
                background: none; 
                color: #112950;
                font-weight: bold;
                font-size: 18px;
            }
            input[type=text]{
                background: #0065FF;
                border-radius: 4px;
                border: none;
                width: 32px;
                color: #fff;
                text-align: center;
            }
        }

        .mua-hang{
            border-bottom: 1px solid #E5E5E5;
            padding-bottom: 20px;
            a{
                border-radius: 12px;
                padding: 10px 16px;
            }
        } 
            
        .trang{
            background: #F2F6FE;
            border: 1px solid #0F62F9;
            box-sizing: border-box;
            margin-right: 15px;
            font-size: 14px;
        }
        .xanh{
            background: #0065FF;
            border: none;
            color: #fff;
            font-weight: bold;
            font-size: 17px;
        }
        .ma{
            font-size: 12px;
            line-height: 18px;
            color: #5E6F88;
            padding-top: 10px;
            margin: 0;
        }
        
        .box-tren{
            background: #FFFFFF;
            border: 1px solid #E5E5E5;
            box-sizing: border-box;
            border-radius: 12px;
            padding: 9px;
            .box-logo{
                margin: 0 auto;
                display: grid; 
                grid-gap: 10px; 
                grid-template-columns: 20% auto;
                .logo-lo{
                    width: 60px;
                    height: 60px;
                    padding: 10px;
                    border: 1px solid #E5E5E5;
                    box-sizing: border-box;
                    border-radius: 12px;
                }
                span{
                    line-height: 60px;
                }
            }
            p{
                font-size: 14px;
                line-height: 24px;
                color: #5E6F88;
            }
            a{
                font-size: 14px;
                line-height: 24px;
                text-decoration-line: underline;
                color: #5DAC46;
            }
            .center{
                text-align: center;
            }
        }
        .box-duoi{
            @extend .box-tren;
            margin-top: 20px;
            samp{
                color: #5DAC46;
                line-height: 22px;
            }
            svg{
                margin-bottom: 3px;
            }
            span{
                display: table;
                border: 1px solid #E5E5E5;
                box-sizing: border-box;
                border-radius: 20px;
                padding: 3px 12px;
                font-size: 12px;
                color: #112950;
                margin: 10px 0;
            }
        }
    }
    .box-nho5{
        margin: 0 auto;
        display: grid; 
        grid-template-columns: 17% 17% 17% 17% 17%;
        justify-content: start;
        img{
            width: 80%;
            margin-top: 10px;
            border: 1px solid #E5E5E5;
            box-sizing: border-box;
            border-radius: 12px;
        }
        img:nth-child(1){
            border: 1px solid #0F62F9;
        }
    }
    h4{
        font-weight: bold;
        font-size: 24px;
        color: #112950;
    }
    .star-fill{
        font-size: 12px;
        line-height: 18px;
        color: #112950;
        display: flex;
        align-items: center;
        svg{
            margin-right: 5px;
        }
    }
}
.text a{
    text-decoration: none;
}
.text-mr{
    margin: -20px 0 20px;
}