.item-sale {
    background: white;
    border-radius: 12px;

    margin: 10px 5px;
    padding: 10px 5px;

    .img-sale {
        position: relative;
        height: 235px;

        img {
            border-radius: 12px;
            width: 100%;
            height: 100%;
        }

        .tem-sale {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 70px;
        }
    }

    .name-sale {
        font-size: 14px;
        padding: 10px 10px;

        p {
            color: rgba(17, 41, 80, 1);
            font-weight: 500;
        }
    }

    .price-sale {
        font-size: 16px;
        padding: 0px 10px;

        del {
            color: rgba(178, 186, 198, 1);
        }

        p {
            color: rgba(243, 48, 96, 1);
            font-weight: 500;
        }
    }

    .btn-buy {
        padding: 0 12px;
        button {
            background: rgba(243, 48, 96, 1);
            color: white;

            border: none;
            border-radius: 12px;
            outline: none;

            padding: 8px 12px;
            width: 100%;
            font-size: 15px;
        }
    }
}

.slider{
    padding-bottom: 50px;
}


.sale-wrapper {
    width: 100%;
    background: #ffece9;

    border-radius: 12px;
    padding-bottom: 20px;

    .sale-title {
        display: flex;
        align-items: center;
        color: rgba(243, 48, 96, 1);
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
        padding: 25px 30px;
    }

    .sale-block-tabs {
        .sale-tabs {
            background: rgba(251, 221, 216, 1);
            padding: 0 20px;
            display: flex;

            .tabs {
                border: none;
                text-align: center;
                padding: 6px 15px;
                text-align: center;
                display: flex;
                flex-direction: column;
                flex: 1;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                box-sizing: content-box;
                position: relative;
                outline: none;
                background: rgba(251, 221, 216, 1);
                font-size: 16px;
                font-weight: 600;

                &.active-tabs {
                    background: rgba(255, 209, 202, 1);
                    color: rgba(243, 48, 96, 1);
                    font-weight: 700;
                }
                span {
                    font-size: 14px;
                }
            }
        }
    }
}
