.text{
    background: #EDEDED;
    font-family: 'Varela Round', sans-serif;
}
.box{
    background: #FFFFFF;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    .box-title{
        margin: 0 auto;
        display: grid; 
        grid-template-columns: 50% auto;
        .center{
            text-align: end;
        }
    }
    .box5{
        margin: 0 auto;
        display: grid; 
        grid-gap: 10px; 
        grid-template-columns: 19% 19% 19% 19% 19%;
    }
    h3{
        font-size: 28px;
        font-weight: bold;
        color: #112950;
    }
    .center{
        text-align: center;
    }
    .card-to{
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 0px 12px rgba(15, 61, 145, 0.12);
        border-radius: 12px;
        svg{
            border: 1px solid #E5E5E5;
            box-sizing: border-box;
            position: absolute;
            top: 10px;
            left: 10px;
            border-radius: 25px;
            padding: 7px;
        }
        button{
            color: #FFFFFF;
            background: #5DAC46;
            border-radius: 12px;
            font-size: 16px;
            border: none;
        }
        .card{
            border: none;
        }
        .giam-gia{
            position: absolute;
            top: 10px;
            right: 10px;
            width: 54px;
            height: 28px;
            line-height: 28px;
            font-size: 15px;
            color: #FFFFFF;
            text-align: center;
            background: #F33060;
            border-radius: 20px;
        }
        h5{
            font-size: 16px;
            line-height: 24px;
            color: #112950;
        }
    }
    
    .box-card{
        display: grid;
        grid-template-columns: 52% auto;
        justify-content: start;
        align-items: stretch;
        background: #C8FBFF;
        border-radius: 20px;
        height: 28px;
        font-size: 14px;
        padding: 4px 4px 4px 10px;
        p{
            color: #112950;
        }
        img{
            width: 100%;
            margin-top: -28px;
            position: relative;
        }
        h5{
            font-size: 16px;
            line-height: 24px;
            color: #112950;
        }
    }
    .card-span{
        margin-bottom: 5px;
    }
    .card-span span:nth-child(1){
        font-size: 15px;
        color: #B2BAC6;
        display: block;
        text-decoration: line-through;
    }
    .card-span span:nth-child(2){
        font-weight: bold;
        font-size: 16px;
        color: #0F62F9;
        spam{
            font-size: 10px;
        }
    }
}
