.navigation-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 12px 12px 0px 0px;
    background-color: white;
    box-shadow: 0px -4px 24px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;

    .tab-item {
        text-align: center;
        p {
            margin: 0;
        }

        .tab-icon-wrapper {
            position: relative;
            height: 22px;
            width: 22px;
            margin: 0 auto 7px;
            .tab-icon {
                &.active {
                    position: absolute;
                    top: -20px;
                    width: 54px;
                    height: 54px;
                    left: calc(50% - 27px);
                    background-color: white;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &::after {
                        content: "";
                        position: absolute;
                        background-color: rgba(15, 98, 249, 0.1);
                        border-radius: 50%;
                        width: 42px;
                        height: 42px;
                    }
                }
            }
        }
    }
}
