@import "../../../asstes/scss/global.scss";

.model-item-wrapper{
    --column : 4;
    @include mediumScreen{
        --column : 1;
    }
    width: calc(100% / var(--column));
    padding: $padding;
    cursor: pointer;

    img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}